@import url(fonts.css);

html {-webkit-font-smoothing: antialiased; font-weight: normal; }

body { margin:0; padding:30px; color:white; background-color:#2c3e50; overflow-y:hidden;
	   font-family:"Proxima Nova Light"; font-size:16px; color:white; -webkit-app-region:drag; }
a { color: white; text-decoration:none; }


/* Branding */
h1 { position:absolute; top:0; left:0; height:30px; margin:0; padding:0 12px 0; 
	 font-size:1rem; line-height:30px; background-color:#e74c3c; }
h1 strong, h2 strong, h3 strong { font-family:"Proxima Nova Bold"; }
h3 strong { color:#f1c40f; }

/* Minimize & Close Buttons */
#window-controls { position:absolute; top:0; right:0; font-family:"Proxima Nova Bold"; padding-right: 5px; }
#window-controls a { display:block; width:30px; height:30px; line-height:30px; float:right; text-align: center;
					 color:#e74c3c; font-size:18px; font-weight:bold; }
#window-controls .btn-close { background-position:-30px 0; font-size:21px; 
							  transform:rotate(135deg); -webkit-transform:rotate(135deg); }
#window-controls .btn-minimize { background-position:0 0; }

/* Buttons */
.button { padding: 16px 24px; color:white; font-family:"Proxima Nova Reg"; font-size:1rem; text-decoration: none; 
          border: 0; border-radius: 5px; -webkit-border-radius:5px; cursor: pointer; }
.btn-green { 
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2ecc70), color-stop(1, #27ae5f));
        background:-webkit-linear-gradient(top, #2ecc70 5%, #27ae5f 100%);
        background:linear-gradient(to bottom, #2ecc70 5%, #27ae5f 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc70', endColorstr='#27ae5f',GradientType=0);
        background-color:#2ecc70;
}
.btn-green:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #27ae5f), color-stop(1, #2ecc70));
        background:-webkit-linear-gradient(top, #27ae5f 5%, #2ecc70 100%);
        background:linear-gradient(to bottom, #27ae5f 5%, #2ecc70 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#27ae5f', endColorstr='#2ecc70',GradientType=0);
        background-color:#27ae5f;
}
.btn-yellow { 
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f39d12), color-stop(1, #e67e22));
        background:-webkit-linear-gradient(top, #f39d12 5%, #e67e22 100%);
        background:linear-gradient(to bottom, #f39d12 5%, #e67e22 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39d12', endColorstr='#e67e22',GradientType=0);
        background-color:#f39d12;
}
.btn-yellow:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e67e22), color-stop(1, #f39d12));
        background:-webkit-linear-gradient(top, #e67e22 5%, #f39d12 100%);
        background:linear-gradient(to bottom, #e67e22 5%, #f39d12 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e67e22', endColorstr='#f39d12',GradientType=0);
        background-color:#e67e22;
}
.btn-red {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e74d3c), color-stop(1, #c03a2b));
        background:-webkit-linear-gradient(top, #e74d3c 5%, #c03a2b 100%);
        background:linear-gradient(to bottom, #e74d3c 5%, #c03a2b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74d3c', endColorstr='#c03a2b',GradientType=0);        
        background-color:#e74d3c;
}
.btn-red:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c03a2b), color-stop(1, #e74d3c));
        background:-webkit-linear-gradient(top, #c03a2b 5%, #e74d3c 100%);
        background:linear-gradient(to bottom, #c03a2b 5%, #e74d3c 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c03a2b', endColorstr='#e74d3c',GradientType=0);        
        background-color:#c03a2b;
}


/* Sections/Views */
section.main { display:none; margin-top:30px; -webkit-app-region: no-drag; }
section.main form { position:relative; height:350px; }
section.main form p { margin:0 0 10px; }
section.main form p.buttons { position:absolute; bottom:0; margin:0; }
section.main form input { width:270px; padding: 12px 15px; font-size: 18px; color:#95a5a6;  
						  background-color:#34495e; border: 0; border-radius: 5px; -webkit-border-radius:5px;}

#register .step2 { display:none; }
#register input[name="chair-id"] { width: 86px; margin-right:10px; }
#register input[name=password] { width: 140px; }


section.main form.mood { height:300px; }