@font-face {
	font-family: 'Plantin-Light';
	src: url('../fonts/PlantinMTStd-Light.eot');
	src: local('☺'), url('../fonts/PlantinMTStd-Light.woff') format('woff'), url('../fonts/PlantinMTStd-Light.ttf') format('truetype'), url('../fonts/PlantinMTStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Plantin-Regular';
	src: url('../fonts/PlantinMTStd-Regular.eot');
	src: local('☺'), url('../fonts/PlantinMTStd-Regular.woff') format('woff'), url('../fonts/PlantinMTStd-Regular.ttf') format('truetype'), url('../fonts/PlantinMTStd-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {margin: 0; padding: 0; text-align: center; font-family: "Plantin-Light", Sans-Serif}
h1 {font-family: "Plantin-Light", Sans-Serif}
h2 {font-family: "Plantin-Light", Sans-Serif}
#life-chart { width:450px; height:450px; }
#life-stats { width:400px; height:400px; background-color: #2C3E50; border-radius: 50%; text-align: center; position: absolute; top: 25px; left: 25px;  z-index: -1; }
.heart-wrapper {width: 260px; height: 72px; margin: 45% auto; position: relative;}
.hearts { padding: 0}
.hearts li { background-position:0; background: url('/img/hearts.png') no-repeat; width: 72px; height: 92px; margin-left: -25px; float: left; list-style: none}
.hearts li:first-child { margin-left: 0}
.fart { -webkit-animation: play .5s steps(21); -webkit-animation-fill-mode: forwards;}

	@-webkit-keyframes play {
	   from { background-position:    0; }
	     to { background-position: -1512px; }
	}